<!DOCTYPE html>
<html>
<head>
    <title>Home Superusuario</title>
</head>
<body>
    <h1>Bienvenido, Superusuario</h1>
    <ul>
        <li><a href="/admin/users/customuser/">CRUD Superusuarios</a></li>
        <li><a href="/admin/spaces/spaceprofile/">CRUD Espacios culturales</a></li>
        <li><a href="/admin/artists/artistprofile/">CRUD Artistas</a></li>
        <li><a href="/admin/events/event/">CRUD Eventos culturales</a></li>
    </ul>
    <p><a href="/admin/">Ir al panel de administración completo</a></p>
    <p><a href="/logout/">Cerrar sesión</a></p>
</body>
</html>
