# Entorno virtual
venv/
.env
*.env

# Archivos de Django
db.sqlite3
media/
staticfiles/

# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.ipynb_checkpoints/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Sistema
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Configuración local
local_settings.py